@using Netension.Request.Blazor.Handlers

<h3>@Exception?.GetType()</h3>
@ChildContent

@implements IErrorHandler

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private Exception Exception { get; set; }

    public async Task HandleErrorAsync(Exception exception)
    {
        Exception = exception;
        StateHasChanged();
    }
}
